# =========================================================
# InvoiceApp - Environment Variables
# =========================================================

# Flask Security
SECRET_KEY=super_secret_session_key_12345

# Admin Login Credentials
ADMIN_USERNAME=Khaled@fleetadmin
MASTER_PASSWORD=Khaled@Damfleet1105090615

# Google OAuth (Removed)
# GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=

# Email (SMTP - Gmail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=damfleet@bz.sa
MAIL_PASSWORD=syawwjsjrqkcyvmp

# GPS Cockpit
GPS_USER=your_gps_username
GPS_PASS=your_gps_password
GPS_ASSET_URL=https://fleetmanagement-clust03.gpscockpit.com/#/FleetOverview
GPS_PERMANENT_TOKEN=wgV57nljDUD2jgJVHTbiBqTVBjryMA6Q5nMgBEIhB5WqNFXejJfhVA+K2G0KF3PGeNlkhw4VLHakOttseRQzDw==
