{% extends 'base.html' %}

{% block title %}Bin Zoma Fleet API Docs{% endblock %}

{% block head %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.18.2/swagger-ui.css" rel="stylesheet"/>
<link rel="stylesheet" href="{{ url_for('static', filename='css/page/api_docs.css', v=1) }}">
{% endblock %}

{% block content %}
<div class="topbar">
<div class="csp-inline-api-docs-12">
<img alt="Logo" src="{{ url_for('static', filename='nav_logo.png') }}"/>
<h1>توثيق API المركزي</h1>
</div>
<a href="/system_health">العودة للمراقبة</a>
</div>
<div id="swagger-ui"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.18.2/swagger-ui-bundle.js"></script>
<script>
    window.onload = () => {
      window.ui = SwaggerUIBundle({
        url: "{{ url_for('static', filename='swagger.json', v=31) }}",
        dom_id: '#swagger-ui',
        deepLinking: true,
        presets: [ SwaggerUIBundle.presets.apis, SwaggerUIBundle.SwaggerUIStandalonePreset ],
        layout: "BaseLayout"
      });
    };
  </script>
{% endblock %}
